<html>
  <head></head>
  <br />
    Oh, you just reset your password <br />
    The code below is the verify code to reset your password <br />
    <br />{{verifyCode}} <br />
    <br />
    The verify code will expire in 5 minutes.
  </body>
</html>