<html>
  <head></head>
  <body>
    Thank you for registering Facebook! <br />
    This is your verify code and use it the app to verify your account: <br />
    <br />
    {{verifyCode}} <br />
    <br />
    The code will expire in 5 minutes.
  </body>
</html>